body{
	background-color: red;
}
table{
	border: 5px black;
}
p{
	color: white;
}
ul{
	color: white;
}
h1{
    color: white;
}
h2{
    color: white;
}
ul{
	color: white;
}
table{
	color: white;
}